*{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Microsoft Yahei", Arial;

}
.box{
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid red;
    border-radius: 6px;
    box-shadow: 5px 4px 10px 2px brown;
}
.box thead{
    background: green;
    height: 40px;
}
.box thead tr{
    height: 40px;
    line-height: 40px;
}
.box thead tr th{
    width: 100px;
    cursor: pointer;
}
.box tbody tr{
    height: 30px;
    line-height: 30px;

}
.box tbody tr.bg0{
    background: burlywood;
}
.box tbody tr.bg1{
    background: blanchedalmond;
}
.box tbody tr td{
    width: 100px;
    text-align: center;
}